* {
  box-sizing: border-box;
}


body {
 background: linear-gradient(to top left, #9999ff 0%, #ff99ff 100%);
margin-top: 30%;

}

.bigtitle {
  font-size: 45px;
  color:white;
  background-color: purple;
  margin-top:0%;

  padding-left: 5%; padding-right: 5%; padding-top: 10%;padding-bottom: 0%
}


a:hover {
  color:mistyrose
}

.head {
  color: #ffffff
;
  font-style: normal;
  font-family: helvetica;
  font-size: 55px;
  margin: 3%;
  text-shadow: 3px 3px #cc99ff;
  word-spacing: 5px;
  letter-spacing: 2px;

}

footer {
  text-align: center;
  padding: 2px;
  background-color: purple;
  color: white;
  margin-top: 10%

}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #cc99ff
;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

ul.topnav li a:hover:not(.active) {background-color: #ffb3ff;}

ul.topnav li a.active {background-color:hotpink;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid white;

}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: mistyrose;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a purple background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: purple;
}

/* Number text (1/3 etc) */
.numbertext {
  color: mistyrose;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: purple;
  padding: 2px 16px;
  color: mistyrose;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

</style>
</head>
<body>
